body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

.modal-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-wrap.show-modal {
    display: block;
}

.modal-content {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin: auto;
    vertical-align: center;
}

#add-diary-content {
    width: 360px;
    margin: 10% auto auto;
}

.modal-content-box {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.confirm-button:hover {
    background-color: #6947b4;
    color: white;
}

.cancel-button:hover {
    background-color: lightslategray;
    color: white;
}

.modal-title-wrap {
    position: relative;
    padding-top: 20px;
    width: 100%;
}

.modal-title {
    text-align: center;
}

.add-diary-form-wrap {
    width: 100%;
    margin-top: 30px;
}

.new-diary-title-wrap {
    width: 100%;
    margin: auto;
}

.new-diary-title {
    width: 100%;
    height: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    color: white;
    font-size: 16px;
    width: 100%;
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.input-box::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.input-box:focus {
    outline: none;
    border-bottom-color: rgba(0, 0, 0, 1);
}

.color-palette {
    width: 100%;
    height: 24px;
    display: flex;
    align-content: baseline;
    justify-content: space-between;
}

.color-chip {
    width: 16px;
    height: 16px;
    border-radius: 40%;
}

.color-chip.color-selected {
    border: 4px solid #ADFAFF;
}

.form-button-wrap {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-button {
    width: 48%;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: lightgray;
    color: black;
}

.clear-button {
    height: 24px;
    width: 70%;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    color: dimgray;
}

.clear-button:hover {
    background-color: #b3e3ff;
    color: white;
    cursor: pointer;
}

.password-input-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

#add-friend-content {
    width: 400px;
    margin: 10% auto auto;
}

.friend-search-wrap {
    margin-top: 30px;
}

#search-keyword {
    width: 85%;
    height: 26px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

#search-keyword::placeholder {
    color: slategrey;
}

.friend-found {
    font-size: 14px;
    margin-bottom: 6px;
}

.friend-found:hover {
    background-color: #f0ffa3;
    cursor: pointer;
}

.friend-picture {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: sub;
    margin-right: 4px;
}

.friend-name {
    margin-right: 10px;
}

#show-info-content {
    width: 320px;
    margin: 5% auto auto;
}

.info-picture-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.info-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#edit-picture-open {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

.picture-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sample-pics {
    display: flex;
    justify-content: space-between;
}

.picture-chip {
    width: 26px;
    height: 26px;
    border-radius: 40%;
    margin-right: 6px;
}

.picture-chip:hover {
    cursor: pointer;
}

.picture-chip.pic-selected{
    border: 4px solid #ADFAFF;
}

.picture-chip-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-picture-wrap label {
    width: 64px;
    height: 24px;
    display: inline-block;
    color: black;
    font-size: 12px;
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.upload-picture-wrap label:hover {
    cursor: pointer;
    color: white;
    background-color: #6947b4;
}

.upload-picture {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.info-email-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
}

.info-email {
    color: black;
    width: 70%;
}

.info-name-wrap {
    margin-top: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.info-name-input-wrap {
    display: flex;
    justify-content: flex-end;
}

.info-name {
    width: 65%;
    margin-left: 5px;
    color: black;
}

.info-name:focus {
    border-bottom-color: #6947b4;
}

.info-password {
    width: 70%;
    color: black;
}

.input-box.readonly:focus {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.info-password.wrong {
    border-bottom-color: deeppink;
    border-bottom-width: 2px;
}

#wrong-alert-wrap {
    width: 100%;
    font-size: 12px;
    text-align: end;
    margin-top: 0px;
}

.body-wrap {
    display: flex;
}

.content-wrap {
    width: 96%;
    margin: auto;
}

.diary-list-wrap {
    position: relative;
    width: 20%;
    height: 100%;
}

.diary-list {
    padding-top: 20px;
    background-color: lightgray;
}

.list-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-icon {
    font-size: 16px;
    margin-left: 12px;
}

.diary-flag {
    margin-left: auto;
    width: 160px;
    height: 38px;
    text-align: right;
    margin-bottom: 14px;
}

.diary-flag:hover {
    width: 165px;
}

.diary-flag-title {
    color: white;
    padding-right: 12px;
}

.diary-flag-title:hover {
    padding-right: 20px;
}

#show-invitation-content {
    width: 400px;
    margin-top: 5%;
}

.invitation-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.invitation-wrap.invisible {
    display: none;
}

.invitation-wrap.right {
    width: 45px;
}

.invitation-button {
    font-size: 20px;
    color: dimgray;
}

.invitation-button:hover {
    cursor: pointer;
}

.invitation-button.accept:hover {
    color: mediumturquoise;
}

.invitation-button.reject:hover {
    color: tomato;
}

.big-button {
    width: 94%;
    margin: auto;
}

.diary-post-wrap {
    position: relative;
    width: 60%;
    height: 100%;
}

.diary-post-content-wrap {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.diary-post {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-text{
    margin-top: 20px;
    width: 100%;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-picture-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
}

.post-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-reply {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
}

.reply-picture-wrap {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.reply-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reply-content {
    width: 100%;
}

.member-list-wrap {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: linen;
}

.member-list {
    width: 100%;
    height: 30px;
}

.note {
    font-size: 16px;
    line-height: 32px;
    background: -webkit-linear-gradient(
            top,
            darkgrey 0%,
            darkgrey 1px,
            rgba(255, 255, 255, 0) 1px,
            rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
            to bottom,
            darkgrey 0%,
            darkgrey 1px,
            rgba(255, 255, 255, 0) 1px,
            rgba(255, 255, 255, 0) 100%
    );
    background-size: 100% 32px;
}

@media (max-width: 1000px) {
    .member-list-wrap{
        min-width: 200px;
    }
    .diary-post-wrap {
        min-width: 600px;
    }
    .diary-list-wrap {
        min-width: 200px;
    }

}