body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
    background-color: #f3f2f0;
}

.modal-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-wrap.show-modal {
    display: block;
}

.modal-content {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin: auto;
    vertical-align: center;
}

#add-diary-content {
    width: 360px;
    margin: 10% auto auto;
}

.modal-content-box {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.confirm-button:hover {
    background-color: #6947b4;
    color: white;
}

.cancel-button:hover {
    background-color: lightslategray;
    color: white;
}

.modal-title-wrap {
    position: relative;
    padding-top: 20px;
    width: 100%;
}

.modal-title {
    text-align: center;
}

.add-diary-form-wrap {
    width: 100%;
    margin-top: 30px;
}

.new-diary-title-wrap {
    width: 100%;
    margin: auto;
}

.new-diary-title {
    width: 100%;
    height: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    color: white;
    font-size: 16px;
    width: 100%;
    padding-top: 3px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.input-box::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.input-box:focus {
    outline: none;
    border-bottom-color: rgba(0, 0, 0, 1);
}

.color-palette {
    width: 100%;
    height: 24px;
    display: flex;
    align-content: baseline;
    justify-content: space-between;
}

.color-chip {
    width: 16px;
    height: 16px;
    border-radius: 40%;
}

.color-chip.color-selected {
    border: 4px solid #ADFAFF;
}

.form-button-wrap {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-button {
    width: 48%;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: lightgray;
    color: black;
}

.clear-button {
    height: 24px;
    width: 70%;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    color: dimgray;
}

.clear-button:hover {
    background-color: #b3e3ff;
    color: white;
    cursor: pointer;
}

.password-input-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

#add-friend-content {
    width: 400px;
    margin: 10% auto auto;
}

.friend-search-wrap {
    margin-top: 30px;
    margin-bottom: 10px;
}

#search-keyword {
    width: 90%;
    height: 26px;
    text-align: center;
    color: black;
}

#search-keyword::placeholder {
    color: slategrey;
}

#search-keyword:focus {
    border-bottom-color: #6947b4;
}

#search-icon {
    color: slategray;
}

#search-icon:hover {
    color: #6947b4;
    cursor: pointer;
}

#search-keyword-error {
    width: 100%;
}

.error-span {
    height: 14px;
    color: white;
    font-size: 14px;
    background-color: #6947b4;
    padding: 0px 6px 0px 6px;
    border-radius: 4px;
    display: none;
}

#search-result-list {
    max-height: 250px;
    overflow: auto;
    padding: 6px 4px 6px 4px;
}

.friend-found {
    font-size: 14px;
    padding: 4px 0px 4px 0px;
    border-radius: 4px;
}

.friend-found:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(105, 71, 180, 0.8);
}

.friend-picture {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: sub;
    margin-right: 4px;
}

.friend-name {
    margin-right: 10px;
}

#show-info-content {
    width: 320px;
    margin: 5% auto auto;
}

.info-picture-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.info-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#edit-picture-open {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

.picture-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sample-pics {
    display: flex;
    justify-content: space-between;
}

.picture-chip {
    width: 26px;
    height: 26px;
    border-radius: 40%;
    margin-right: 6px;
}

.picture-chip:hover {
    cursor: pointer;
}

.picture-chip.pic-selected{
    border: 4px solid #ADFAFF;
}

.picture-chip-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-picture-wrap label {
    width: 64px;
    height: 24px;
    display: inline-block;
    color: black;
    font-size: 12px;
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.upload-picture-wrap label:hover {
    cursor: pointer;
    color: white;
    background-color: #6947b4;
}

.upload-picture {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.info-email-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
}

.info-email {
    color: black;
    width: 70%;
}

.info-name-wrap {
    margin-top: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.info-name-input-wrap {
    display: flex;
    justify-content: flex-end;
}

.info-name {
    width: 65%;
    margin-left: 5px;
    color: black;
}

.info-name:focus {
    border-bottom-color: #6947b4;
}

.info-password {
    width: 70%;
    color: black;
}

.input-box.readonly:focus {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.info-password.wrong {
    border-bottom-color: deeppink;
    border-bottom-width: 2px;
}

#wrong-alert-wrap {
    width: 100%;
    font-size: 12px;
    text-align: end;
    margin-top: 0px;
}

.body-wrap {
    display: flex;
}

.content-wrap {
    width: 94%;
    margin: auto;
}

.layout-wrap {
    margin-top: 20px;
}

.diary-list-wrap {
    position: relative;
    width: 20%;
    height: 100%;
}

.diary-list {
    padding-top: 20px;
}

.list-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-header.diary-list-title {
    justify-content: flex-end;
}

.diary-list-title-wrap {
    width: 160px;
}

.crown-icon {
    margin-left: 4px;
    font-size: 16px;
    color: #ffbf00;
}

.custom-icon {
    font-size: 16px;
    margin-left: 12px;
    color: #9ba5b1
}

.custom-icon:hover {
    cursor: pointer;
}

.diary-flag {
    margin-left: auto;
    width: 160px;
    height: 38px;
    text-align: right;
    margin-bottom: 14px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.diary-flag:hover {
    width: 170px;
    cursor: pointer;
}

.diary-flag:hover .diary-flag-title {
    padding-right: 20px;
}

.diary-flag-title {
    color: white;
    padding-right: 12px;
}

.create-diary {
    background-color: whitesmoke;
}

.create-diary #add-diary {
    color: #9ba5b1;
}

.create-diary:hover #add-diary {
    color: #6947b4;
}

#show-invitation-content {
    width: 400px;
    margin-top: 5%;
}

.invitation-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.invitation-wrap.invisible {
    display: none;
}

.invitation-wrap.right {
    width: 45px;
}

.invitation-button {
    font-size: 20px;
    color: dimgray;
}

.invitation-button:hover {
    cursor: pointer;
}

.invitation-button.accept:hover {
    color: mediumturquoise;
}

.invitation-button.reject:hover {
    color: tomato;
}

.big-button {
    width: 100%;
    margin: auto;
}

.diary-title-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
}

.diary-title-content {
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.user-setting-wrap {
    display: flex;
}

.invitation-button-wrap {
    display: flex;
}

#invitation-badge {
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background-color: orangered;
    position: relative;
    left: 14px;
    bottom: 2px;
}

.fa-book {
    color: rgba(255, 255, 255, 0.4);
}

.fa-book:hover {
    color: white;
}

.diary-post-wrap {
    position: relative;
    width: 55%;
    height: 100%;
}

.diary-post-content-wrap {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.diary-post {
    margin-top: 10px;
    padding-bottom: 20px;
}

.new-post-form-wrap {
    display: flex;
    padding-top: 12px;
    padding-bottom: 20px;
}

#new-post-picture {
    margin-top: 16px;
}

#new-post-form {
    width: 96%;
}

.text-input-clear{
    height: 30px;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    background: none;
    line-height: 32px;
}

.text-input-clear.post {
    margin-top: 20px;
    font-size: 16px;
}

.text-input-clear.reply {
    margin-top: 0px;
    padding-bottom: 4px;
    line-height: 32px;
    padding-left: 2px;
}

.text-input-clear:focus {
    outline: none;
}

#new-post-submit {
    margin-top: 28px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-picture-wrap {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.post-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-content {
    margin: 0px;
    padding-left: 20px;
    font-size: 15px;
    white-space: pre-wrap;
    line-height: 32px;
}

.post-reply {
    padding-left: 16px;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
}

.reply-picture-wrap {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2px;
}

.reply-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reply-name-wrap {
    width: 40px;
    display: contents;
    height: 100%;
}

.reply-content-wrap {
    display: inline;
}

.reply-content {
    width: 100%;
    margin-left: 4px;
    padding-right: 14px;
    min-height: 32px;
    line-height: 26px;
}

.reply-name {
    width: 40px;
    height: 100%;
}

.reply-name.new {
    line-height: 32px;
}

.reply-content.add-new-reply {
    display: flex;
}

.reply-text {
    margin: 0px;
    min-width: 88%;
    padding-left: 8px;
    white-space: pre-wrap;
    display: inline;
    line-height: 32px;
}

.reply-submit {
    margin-top: 6px;
}

.new-reply {

}

.member-list-wrap {
    position: relative;
    margin-left: 24px;
    width: 20%;
    height: 100%;
}

.member-list-content-wrap {
    background-color: #ffea9c;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.member-list {
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
}

.member-list-content {
    display: flex;
    align-items: center;
}

.member-list-pic-wrap {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.member-list-pic-wrap.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-list-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#invite-friend-wrap:hover {
    cursor: pointer;
}

#add-friend-open {
    margin-right: 20px;
    padding: 2px 0px 2px 2px;
    border-radius: 16px;
}

#invite-friend-wrap:hover #add-friend-open {
    background-color: white;
}

#invite-friend-wrap:hover .fa-paper-plane {
    color: #ffcb00;
}

.fa-paper-plane {
    color: rgba(255, 255, 255, 0.5);
}

.note {
    font-size: 16px;
    line-height: 30px;
    background: linear-gradient(
            to top,
            #aeb8c5 0%,
            #aeb8c5 1px,
            rgba(255, 255, 255, 0) 1px,
            rgba(255, 255, 255, 0) 100%
    );
    background-size: 100% 32px;
}

@media (max-width: 1000px) {
    .member-list-wrap{
        min-width: 200px;
    }
    .diary-post-wrap {
        min-width: 550px;
    }
    .diary-list-wrap {
        min-width: 200px;
    }

}