@charset "UTF-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

.body-wrap {
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-wrap.show-modal {
    display: block;
}

.modal-content-box {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.modal-title-wrap {
    position: relative;
    padding-top: 20px;
    width: 100%;
}

.modal-title {
    text-align: center;
}

#reset-password-content {
    width: 400px;
    margin-top: 10%;
}

.modal-content {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin: auto;
    vertical-align: center;
}

#reset-password-form {
    margin-top: 16px;
}

#reset-password-input {
    color: black;
}

#reset-password-email {
    color: black;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

#reset-password-email:focus {
    border-bottom-color: #6947b4;
}

#reset-password-email::placeholder {
    color: #8f85b0;
}

.modooary-wrap {
    position: absolute;
    min-width: 600px;
    width: 45%;
    height: 90%;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-left: 40%;
    bottom: 0px;
    background-color: #6947b4;
}

@media (max-height: 800px){
    .modooary-wrap {
        min-height: 700px;
    }
}

.content-wrap {
    margin-left: 100px;
    margin-top: 200px;
}

.introduce-wrap {
    width: 100%;
    height: 90px;
    color: white;
}

.content-title {
    font-size: 42px;
    font-weight: 700;
}

.content-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.login-wrap {
    margin-top: 40px;
    width: 100%;
    height: 150px;
}

.form-low {
    width: 100%;
    margin-bottom: 10px;
}

.input-low {
    color: white;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label {
    height: 30px;
    font-size: 20px;
    margin-right: 12px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.text-input {
    color: white;
    font-size: 16px;
    width: 220px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.text-input:focus {
    outline: none;
    border-bottom-color: rgba(255, 255, 255, 1);
}

.error-span {
    margin-left: 75px;
    display: none;
    background: purple;
    border-radius: 4px;
    padding: 0px 6px 0px 6px;
    font-size: 14px;
    color: white;
}

#submit-join {
    width: 100%;
    height: 36px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(200, 200, 200, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

#submit-join:hover {
    background: dodgerblue;
    cursor: pointer;
    color: white;
}

.form-button-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#login-button-wrap {
    width: 300px;
}

.form-button {
    width: 49%;
    height: 36px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(200, 200, 200, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

.form-button.reset-button {
    background: lightgray;
    color: dimgray;
}

.form-button:hover {
    color: white;
    background: dodgerblue;
    cursor: pointer;
}

#button-reset-password:hover {
    background: #6947b4;
}

#button-reset-password-cancel:hover {
    background: slategray;
}

.form-tag {
    color: lightgray;
    font-size: 14px;
}

.form-tag:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-transition: background-color 9999s ease-out;
        -webkit-box-shadow: 0 0 0px 1000px #6947b4 inset !important;
        -webkit-text-fill-color: white;
}