<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/diaryStyle.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/02a1ffc4ee.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- 모달 창 모음 -->
    <!-- 다이어리 생성 창 -->
    <div class="modal-wrap" id="add-diary-wrap">
        <div class="modal-content" id="add-diary-content">
            <div class="modal-content-box">
                <div class="modal-title-wrap">
                    <h3 class="modal-title" id="add-diary-title"></h3>
                </div>
                <div class="add-diary-form-wrap">
                    <form role="form" action="/diary" method="post">
                        <div class="new-diary-title-wrap">
                            <input type="text" class="new-diary-title input-box" id="new-diary-title" name="new-diary-title" placeholder="모두어리 제목">
                        </div>
                        <div class="color-palette" id="color-palette">
                        </div>
                        <input type="hidden" name="color-code" id="color-code" value="">
                        <input type="hidden" name="diary-id" id="diary-id" th:value="${diary.id}">
                        <input type="hidden" name="form-purpose" id="form-purpose" value="">
                        <div class="form-button-wrap">
                            <button type="submit" class="form-button confirm-button">등록</button>
                            <button type="button" class="form-button cancel-button" id="add-diary-close">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- 친구 초대 창 -->
    <div class="modal-wrap" id="add-friend-wrap">
        <div class="modal-content" id="add-friend-content">
            <div class="modal-content-box">
                <div class="modal-title-wrap">
                    <h3 class="modal-title">친구 초대</h3>
                </div>
                <div class="friend-search-wrap">
                    <input type="text" class="input-box" id="search-keyword" placeholder="이름 또는 이메일로 찾기">
                    <button type="button" th:onclick="'searchMember();'">찾기</button>
                </div>
                <div id="result-list">
                </div>
                <div class="form-button-wrap">
                    <button type="button" class="form-button cancel-button big-button" id="add-friend-close">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 초대장 보기 창 -->
    <div class="modal-wrap" id="show-invitation-wrap">
        <div class="modal-content" id="show-invitation-content">
            <div class="modal-content-box">
                <div class="modal-title-wrap">
                    <h3 class="modal-title">초대장</h3>
                </div>
                <div class="invitation-wrap invisible" id="no-invitation">
                    <span>받은 초대장이 없습니다</span>
                </div>
                <div class="invitation-wrap" th:id="'invitation-' + ${i.id}" th:each="i : ${invitations}">
                    <div class="invitation-wrap left">
                        <div class="post-picture-wrap">
                            <img class="post-picture small" th:src="'/img/' + ${i.sender_picture}">
                        </div>
                        <span th:text="${i.sender_name} + '님의 초대 - ['"> </span>
                        <span th:text="${i.diary_title} + ']'"></span>
                    </div>
                    <div class="invitation-wrap right">
                        <i class="fas fa-check invitation-button accept" th:onclick="'acceptInvitation(' + ${i.id} + ');'"></i>
                        <i class="fas fa-times invitation-button reject" th:onclick="'rejectInvitation(' + ${i.id} + ');'"></i>
                    </div>
                </div>
                <div class="form-button-wrap">
                    <button type="button" class="form-button cancel-button big-button" id="show-invitation-close">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 내 정보 창 -->
    <div class="modal-wrap" id="show-info-wrap">
        <div class="modal-content" id="show-info-content">
            <div class="modal-content-box">
                <div class="modal-title-wrap">
                    <h3 class="modal-title">내 계정 정보</h3>
                </div>
                <div class="info-form-wrap">
                    <form role="form" action="/info" onsubmit="return checkInfoForm();" method="post" enctype="multipart/form-data">
                        <div class="info-picture-wrap">
                            <img class="info-picture" id="info-picture" th:src="'/img/' + ${member.picture}">
                            <input type="hidden" id="past-picture" name="past-picture" th:value="${member.picture}">
                            <button type="button" class="" id="edit-picture-open">변경</button>
                        </div>
                        <div class="picture-list" id="picture-list">
                            <div class="sample-pics" id="sample-pics">
                            </div>
                            <div class="upload-picture-wrap" id="upload-picture-wrap">
                                <input type="file" class="upload-picture" id="upload-picture" name="upload-picture">
                            </div>
                        </div>
                        <div class="info-email-wrap">
                            <label>이메일</label>
                            <input type="text" class="input-box info-email" th:value="${member.email}" readonly>
                        </div>
                        <div class="info-name-wrap">
                            <label for="info-name">이름</label>
                            <div class="info-name-input-wrap">
                                <input type="text" class="input-box info-name readonly" id="info-name" name="info-name" th:value="${member.name}" readonly>
                                <button type="button" id="edit-info-name">수정</button>
                            </div>
                        </div>
                        <div class="info-password-wrap" id="info-password-wrap">
                            <div id="new-password-wrap" class="password-input-wrap">
                                <span>비밀번호</span>
                                <button type="button" class="clear-button" id="open-edit-password">변경하기</button>
                            </div>
                            <div id="confirm-password-wrap" class="password-input-wrap">
                            </div>
                        </div>
                        <div class="form-button-wrap">
                            <button type="submit" class="form-button confirm-button">수정</button>
                            <button type="button" class="form-button cancel-button" id="info-close">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="body-wrap">

        <div class="diary-list-wrap">
            <div class="list-header diary-list-title">
                <div class="diary-list-title-wrap">
                    <a>모두어리 목록</a>
                </div>
            </div>
            <div class="diary-list">
                <div class="diary-flag" th:each="d : ${diaries}" th:onclick="'location.href=\'/diary/' + ${d.id} + '\''"
                 th:style="'background-color:' + '#' + ${d.color}">
                    <input type="hidden" th:id="'diary-color' + ${d.id}" th:value="${d.color}">
                    <a th:text="${d.title}" class="diary-flag-title"></a>
                </div>
                <div class="diary-flag create-diary" id="add-diary-open">
                    <span class="diary-flag-title" id="add-diary">새 모두어리 만들기</span>
                </div>
            </div>
        </div>


        <div class="diary-post-wrap">
            <div class="list-header content-wrap">
                <div class="diary-title-wrap" id="diary-title-wrap" th:style="'background-color:' + '#' + ${diary.color}">
                    <div class="diary-title-content">
                        <a id="diary-title" th:text="${diary.title}"></a>
                        <i class="fas fa-book custom-icon" th:if="${host}" id="edit-diary-open" th:onclick="'editDiaryOpen(' + ${diary.id} +');'"></i>
                    </div>
                </div>
                <div class="user-setting-wrap">
                    <i class="fas fa-envelope custom-icon hover-diary-color" id="show-invitation-open"></i>
                    <i class="fas fa-user custom-icon hover-diary-color" id="show-info-open"></i>
                    <i class="fas fa-sign-out-alt custom-icon hover-diary-color" onclick="location.href='/logout'"></i>
                </div>
            </div>

            <div class="diary-post-content-wrap">
                <div class="new-post content-wrap">
                    <div class="new-post-form-wrap note">
                        <div class="post-picture-wrap" id="new-post-picture">
                            <img class="post-picture" th:src="'/img/' + ${member.picture}">
                        </div>
                        <form role="form" action="/post" method="post" id="new-post-form">
                            <textarea class="text-input-clear post" name="post_text" id="post_text"
                                      onkeyup="resize_postarea(this, 'new-post-submit')"></textarea>
                        </form>
                        <i class="fas fa-pen custom-icon hover-diary-color" id="new-post-submit" onclick="sendPost();"></i>
                    </div>
                </div>

                <div class="diary-post content-wrap note" th:each="p : ${posts}">
                    <div class="post-low post-header">
                        <div class="post-picture-wrap">
                            <img class="post-picture" th:src="'/img/' + ${p.member.picture}">
                        </div>
                        <div class="post-header-content">
                            <a th:text="${p.member.name}"></a>
                            <a th:text="${#temporals.format(p.regdate,'yyyy. MM. dd. HH : mm')}"></a>
                        </div>
                    </div>
                    <div class="post-low">
                        <pre class="post-content" th:text="${p.content}"></pre>
                    </div>
                    <div class="post-low" th:id="'reply-list' + ${p.id}">
                        <div class="post-reply" th:each="reply : ${replyMap.get(p.id)}">
                            <div class="reply-picture-wrap">
                                <img class="reply-picture" th:src="'/img/' + ${reply.picture}">
                            </div>
                            <div class="reply-content">
                                <div class="reply-name-wrap">
                                    <span th:text="${reply.name}" class="reply-name"></span>
                                </div>
                                <div class="reply-content-wrap">
                                    <pre th:text="${reply.content}" class="reply-text"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="add-post-reply">
                            <div class="post-reply">
                                <div class="reply-picture-wrap">
                                    <img class="reply-picture" th:src="'/img/' + ${member.picture}">
                                </div>
                                <div class="reply-content add-new-reply">
                                    <textarea class="text-input-clear reply reply-text" th:id="'reply-content' + ${p.id}"
                                              th:onkeyup="'resize_replyarea(this, \'new-reply-submit' + ${p.id} + '\');'"></textarea>
                                    <i class="fas fa-pen custom-icon reply-submit hover-diary-color" th:id="'new-reply-submit' + ${p.id}"
                                       th:onclick="'sendReply(' + ${p.id} + ');'"></i>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <div class="member-list-wrap">
            <div class="list-header">
                <a>이 모두어리의 친구들</a>
            </div>
            <div class="member-list-content-wrap">
                <div class="member-list" th:each="m : ${members}">
                    <div class="member-list-content">
                        <div class="member-list-pic-wrap">
                            <img class="member-list-pic" th:src="'/img/' + ${m.member.picture}">
                        </div>
                        <span th:text="${m.member.name}"></span>
                        <i th:if="${m.grade.toString().equals('HOST')}" class="fas fa-crown crown-icon"></i>
                    </div>
                    <br/>
                </div>
                <div th:if="${host}" class="member-list" id="invite-friend-wrap">
                    <div class="member-list-content" id="add-friend-open">
                        <div class="member-list-pic-wrap icon">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                        <span>친구 초대하기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/diaryJs.js"></script>
</body>
</html>