<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/diaryStyle.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- 모달 창 모음 -->
    <!-- 다이어리 생성 창 -->
    <div class="modal-wrap" id="add-diary-wrap">
        <div class="modal-content" id="add-diary-content">
            <h3>새 다이어리 추가</h3>
            <form role="form" action="/diary" method="post">
                <input type="text" id="add-diary-title" name="add-diary-title" placeholder="다이어리 제목">
                <button type="submit">등록</button>
                <button type="button" id="add-diary-close">취소</button>
            </form>
        </div>
    </div>

    <!-- 친구 초대 창 -->
    <div class="modal-wrap" id="add-friend-wrap">
        <div class="modal-content" id="add-friend-content">
            <h3>친구 초대</h3>
            <input type="text" id="search-keyword" placeholder="이름 또는 이메일">
            <button type="button" th:onclick="'searchMember();'">찾기</button>
            <div id="result-list">
            </div>
        </div>
    </div>

    <!-- 초대장 보기 창 -->
    <div class="modal-wrap" id="show-invitation-wrap">
        <div class="modal-content" id="show-invitation-content">
            <h3>초대장</h3>
            <div class="invitation" th:id="'invitation-' + ${i.getId()}" th:each="i : ${invitations}">
                <span th:text="${i.getSender_name()} + '님이 '"> </span>
                <span th:text="${i.getDiary_title()} + '로 초대하셨습니다' "></span>
                <button type="button" th:onclick="'acceptInvitation(' + ${i.getId()} + ');'">수락</button>
                <button type="button" th:onclick="'rejectInvitation(' + ${i.getId()} + ');'">거절</button>
            </div>
            <div class="modal-control">
                <button type="button" id="show-invitation-close">우편함 닫기</button>
            </div>
        </div>
    </div>

    <div class="body-wrap">

        <div class="diary-list-wrap">
            <div class="list-header">
                <a>다이어리 목록</a>
            </div>
            <div class="diary-list">
                <div class="diary-flag" th:each="d : ${diaries}" th:onclick="'location.href=\'/diary/' + ${d.getId()} + '\''"
                 th:style="'background-color:' + '#' + ${d.getColor()}">
                    <a th:text="${d.getTitle()}"></a>
                </div>
                <div class="diary-flag">
                    <a id="add-diary-open">+ 새 다이어리 만들기</a>
                </div>
            </div>
        </div>


        <div class="diary-post-wrap">
            <div class="list-header">
                <a th:text="${diary.getTitle()}"></a>
                <button type="button" id="show-invitation-open">초대장</button>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
            </div>

            <div class="new-post">
                <form role="form" action="/post" method="post">
                    <textarea class="post-text" name="post_text" id="post_text"></textarea>
                    <button type="submit">글 등록</button>
                </form>
            </div>

            <div class="diary-post" th:each="p : ${posts}">
                <div class="post-low">
                    <span th:text="${p.getMember().getName()}"></span>
                    <span th:text="${#temporals.format(p.getRegdate(),'yyyy년 MM월 dd일 hh시 mm분')}"></span>
                </div>
                <div class="post-low">
                    <span class="post-content" th:text="${p.getContent()}"></span>
                </div>
                <div class="post-low" th:id="'reply-list' + ${p.getId()}">
                    <div class="post-reply" th:each="reply : ${replyMap.get(p.getId())}">
                        <span th:text="${reply.getMember().getName()}"></span>
                        <span th:text="${reply.getContent()}"></span>
                    </div>
                </div>
                    <div class="add-post-reply">
                        <input type="text" class="reply-content" th:id="'reply-content' + ${p.getId()}" placeholder="댓글 작성">
                        <button type="button" th:onclick="'registerReply(' + ${p.getId()} + ');'">등록</button>
                    </div>
            </div>
        </div>


        <div class="member-list-wrap">
            <div class="list-header">
                <a>이 다이어리의 친구들</a>
            </div>
            <div class="member-list" th:each="m : ${members}">
                <span th:text="${m.getMember().getName()}"></span>
                <span th:text="${m.getGrade()}"></span>
                <br/>
            </div>
            <div th:if="${host}" class="member-list">
                <a id="add-friend-open">친구 초대하기</a>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/diaryJs.js"></script>
</body>
</html>