<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h3>Modooary</h3>
    <input type="text" id="email" name="email" placeholder="이메일 주소">
    <br>
    <input type="password" id="password" name="password" placeholder="비밀번호">
    <br>
    <button type="button" onclick="location.href = '/login'">로그인</button>
    <button type="button" onclick="location.href = '/sign-in'">회원가입</button>

</body>
</html>